@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection{
    background-color: #43B774;
    color: #fff;
}
body{
    background-color: #EEF9F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0;
}
h2{
    color: #43B774;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
}
h1{
    font-size: 2rem;
    margin: 1% 0;
}
hr{
    background-color: #43B774;
    border: none;
    height: 5px;
    width: 30%;
}
.cardGrid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}
.card{
    background-color: #fff;
    padding: 5%;
    border-radius: 6px;
    margin: 2% 0;
}
.card:hover{
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    transition: all .5s ease-in-out;
}
img.quote{
    height: 25px;
}
p.about{
    color: #646665;
    font-size: 1rem;
    margin: 2% 0;
}
.profile{
    display: flex;
    align-items: center;
    margin: 5% 0;
}
.profile img{
    height:50px;
    border-radius: 50%;
}
.profile .text{
    margin-left: 5%;
}
.profile .username{
    font-weight: 600;
}
.profile .profession{
    font-weight: 500;
    color: #5E5E5E;
}